<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(products.length > 0) {%> 
                <ul>
                    <% products.forEach(p => { %>
                        <li>
                            <p><%=p.productId.title%> (<%=p.quantity%>)</p>
                            <form action="/delete-cart-item" method="post">
                                <input type="hidden" value="<%= p.productId._id %>" name="productId">
                                <button type="submit" class="btn">Remove from Cart</button>
                            </form> 
                        </li>
                    <%})%>
                </ul>
                <form action="/create-order" method="post">
                    <button type="submit" class="btn">Order Now!</button>
                </form>
            <% } else {%>
                <h1>No products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>