<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs', { csrfToken: csrfToken }) %>
        <main>
            <ul>
                <% products.forEach(p => { %>
                    <li>
                        <p><%=p.productId.title%> (<%=p.quantity%>)</p>
                    </li>
                <%})%>
            </ul>
            <div>
                <h2>Total: <%=totalPrice%></h2>
            </div>
            <div>
                <btn id="order-btn" class="btn">ORDER</btn>
                <script src="https://js.stripe.com/v3/"></script>
                <script>
                    var stripe = Stripe('pk_test_51PlUGqRs7RCS9dlTS5Yhb2Bn4BCS0tgaY1KADQ0agFf8EAvl2ceVYT3tCPqdGozy9U74sL6eB7SXXL0BdF4nuGg100ydVNG9Jj');
                    var orderBtn = document.getElementById('order-btn');
                    orderBtn.addEventListener('click', () => {
                        stripe.redirectToCheckout({
                            sessionId: '<%=sessionId%>'
                        });
                    })
                </script>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>