<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% }else { %>
                <ul>
                    <% orders.forEach(order => {%>
                        <li> 
                            <p class="order-title">#<%= order._id %> - <a href="/orders/<%=order._id%>">Invoice</a></p>
                            <ul>
                                <% order.products.forEach(item => { %>
                                    <li>
                                        <%=item.product.title %> (<%= item.quantity %>)
                                    </li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>